.bgimg{
	background-image: url('/home/shirsu/Documents/project1/img9.jpg') ;
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 650px;

}

.headerset{
    padding-top: 200px;
        box-sizing: border-box;
}

.headerset h2{
    font-size: 42px;

}
.headerset h1{
    font-size: 72px;
    font-weight: bold;
}

/*
.............ourservice.......*/

.ourservice{
    padding: 100px 0px 60px;
}

.ourservice h2{
    font-size: 50px;
    font-weight: bold ;
}

.rowsetting{
    margin: 80px 0px !important;
}

.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.fa-shopping-cart{
    margin-top: 20px;
    margin-left: 20px;
}

.fa-desktop{
    margin-top: 25px;
    margin-left: 23px;
}

.fa-lock{
    margin-top: 25px;
    margin-left: 30px;
}

.rowsetting h3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.rowsetting p{
    padding: 10px;
    color: #212529;
}

.portfolio{
    height: 1100px;
    width: 100%;
    padding: 100px 0px 50px;
}

.portfolio h1{
     font-size: 50px;
     font-weight: bold;
}

.card{
    margin-top: 40px;

}


.ourteam{
    height: 700px;
    padding: 100px 0px 60px;
    width: 100%;
}

.teamsetting{
    margin-top: 50px;
    padding: 10px;
}

.footer{
    font-size: 50px;
}



@media(min-width: 992px){

}

@media(min-width: 768px) and (max-width: 991px){

}

@media(max-width: 479px){


.headerset h2{
    font-size: 42px;

}
.headerset h1{
    font-size: 72px;
    font-weight: bold;
}

.ourservice{
   
    height: 1200px;
}

.ourteam{
    height: 1800px;
    
}

.portfolio{
    height: 2700px;
    
}


}